worker_processes auto;
error_log  stderr notice;
pid        {{ROOT_DIR}}/nginx/nginx.pid;

events { worker_connections 1024; }

http {
    include       {{HOMEBREW_PREFIX}}/etc/nginx/mime.types;
    default_type  application/octet-stream;
    sendfile      on;
    keepalive_timeout 65;

    include {{ROOT_DIR}}/nginx/sites-enabled/*.conf;
}