# {{HOMEBREW_PREFIX}}/etc/nginx/vhost.conf.tmpl
map $http_upgrade $connection_upgrade {
    default close;
    "websocket" upgrade;
    "upgrade" upgrade;
}

server {
    listen 80;
    server_name {{DOMAIN}};
    root {{HTML_DIR}};
    index index.html;
    
    location / {
        try_files $uri $uri/ =404;
    }
}

server {
    listen 80;
    server_name unifi.{{DOMAIN}};

    location / {
        proxy_pass http://127.0.0.1:8443;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

server {
    listen 80;
    server_name pms.{{DOMAIN}};
    
    location / {
        proxy_pass http://127.0.0.1:32400;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Plex-Client-Identifier $remote_addr;
        proxy_set_header X-Plex-Device-Name "{{DOMAIN}}";
    }
}

server {
    listen 80;
    server_name ha.{{DOMAIN}};
    
    location / {
        proxy_pass http://{{HA_BACKEND}};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}

server {
    listen 80;
    server_name qbittorrent.{{DOMAIN}};
    
    location / {
        proxy_pass http://127.0.0.1:8081;
        proxy_set_header Host $host;
    }
}